{% extends 'base.html' %}
{% block  content%}
<p><h3>OUR VETERINARY SERVICES</h3></p>
<p>1. We provide comprehensive veterinary care for dogs, cats, rabbits and other small animals.</p>
<p>2. Modern facilities with separate dog and cat wards to minimise the stress of hospitalisation.</p>
<p>3. Operating theatre with a wide range of surgical equipment.</p>
<p>4. Laparoscopic (keyhole) dog spays, more information
visiting orthopaedic surgeon for the treatment of cruciate ligament rupture including TPLO, and patella disease.</p>
<p>5. Diagnostic equipment including digital radiography, ultrasound and endoscopy allowing full medical investigations.</p>
<p>6. Dentistry with a separate dental suite and digital dental radiography.</p>
<p>7. Animal Health Certificates and Export Health Certificates
Veterinary Acupuncture
In house laboratory.</p>
<p>8. BVA/KC Hip and Elbow score radiographs.</p>


{% endblock content %}