{% extends 'base.html' %}
{% block content %}
    <form action="/animals/new" method="post">
        <label for="pet_name">Animal name</label>
        <input value="{{animal.pet_name}}" type="text" name="pet_name" id="pet_name"><br>
        <label for="date_of_birth">Date of birth of your animal</label>
        <input value="{{animal.date_of_birth}}" type="date" name="date_of_birth" id="date_of_birth"><br>
        <label for="specie">specie</label>
        <input value="{{animal.specie}}" type="text" name="specie" id="specie"><br>
        <label for="vet_id">Select your vet</label>
        <select name="vet_id" id="vet_id">
            {% for vet in vets  %}
            <option {% if vet.id == animal.vet.id %}
                selected 
            {% endif %}
            value="{{vet.id}}">{{vet.name}}</option>
            {% endfor %}
        </select><br>
        <label for="treatment">Treatment</label>
        <textarea value="{{animal.treatment}}" name="treatment" id="treatment" cols="30" rows="10"></textarea><br>
        <button>Save</button>
    </form>
{% endblock content %}