<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirkgate Veterinary Clinic</title>
</head>
<body>
    <header>
        <h1>Kirkgate Veterinary Clinic</h1> 
        <h3>"We care of your little buddies"</h3>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/animals">Animals</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/vets">Vets</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/bookings">Bookings</a></li>
            </ul>
        </nav>
    </header>
            <main>
                {% block content %}
                    
                {% endblock content %}
            </main> 



            <style>
                .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: rgba(208, 212, 226, 0.884);
                color: rgb(22, 20, 20);
                text-align: left;
                }
            </style>
            <nav>
                <ul>
                <div class="footer">
                        
                                <p><span style='font-size:50px;'>&#128222;</span></p><br>
                                Monday to Saturday 8am-20pm<br>
                                Sundays 8am-15pm<br>                            
                                07514804960<br>
                                24/7<br>
                        
                </ul>
            </nav>
        
            
</body>
</html>